@import '../../css/common.css';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h2 {
  width: 1110px;
  font-size: 1.4rem;
  margin: 20px 0px 20px 0px;
}

.home__lanking {
  display: flex;
  position: relative;
}

.home__lanking__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  /* 순위 집어 넣고 다시 380 */
  width: 1110px;
  overflow: hidden;
}

.home__lanking_contents {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  height: 380px;
  width: 1100px;
  transition: all 0.5s linear;
}

.home__left-stick,
.home__right-stick {
  display: flex;
  align-items: center;
  height: 290px;
  position: absolute;
  z-index: 2;
}

.home__left-stick {
  left: -5px;
}

.home__right-stick {
  right: -5px;
}

.home__left-chevron,
.home__right-chevron {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 4px;
}
