@import '../../css/common.css';

.search-result {
  padding-top: 63px;
}
.search-result__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 43px;
  padding-right: 900px;
  font-weight: 600;
}

.search-result__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.search-result__contents-title {
  height: 45px;
  padding-right: 1020px;
}

.search-result__moives-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1050px;
  gap: 10px;
}
.search-result__movie {
  display: flex;
  height: 120px;
  width: 340px;
  margin-bottom: 15px;
}

.search-result__movie img {
  cursor: pointer;
  border-radius: 5px;
}

.search-result__text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  width: 240px;
  padding-left: 10px;
  gap: 7px;
  margin-left: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
