@import 'css/reset.css';

.detail {
  padding: 63px 0px 0px 0px;
}

.detail__text-info li:nth-child(3) {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
}

.sub-title,
.star-average {
  padding-bottom: 20px;
  padding-top: 5px;
}

.star-average {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: end;
}

.star-average li {
  margin-bottom: 5px;
}

.detail__still-img {
  display: flex;
  justify-content: center;
  background-color: black;
}

.detail__main-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 235px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.detail__comment {
  background-color: #f8f8f8;
  margin: 30px 0px 15px 0px;
}

.detail__poster-img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 232px;
  width: 167px;
  background-color: white;
  translate: 0px -30px;
  border-radius: 5px;
}

.detail__poster-img {
  border-radius: 5px;
}

.detail__text-info {
  width: 800px;
  padding: 30px 15px;
}

.detail__text-info > li:not(.title) {
  margin: 15px 0px;
}

.detail__text-info > li:nth-child(2) {
  opacity: 0.6;
}

.detail__star-icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.detail__stars {
  padding-right: 5px;
  border-right: 1px solid #f4f4f4;
}

.detail__detail-info__comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8f8;
  flex-grow: 1;
}

.detail__detail-text-info,
.detail__gallery-vedio {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px;
  height: auto;
  margin-bottom: 30px;
}

.detail__detail-text-info {
  width: 640px;
}

.detail__detail-text-info__basic li:not(.sub-title) {
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 15px;
}

.star-graph__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.star-graph__graph {
  text-align: center;
}

.nick {
  margin-left: 10px;
  font-size: larger;
}

.detail-text-info__comment {
  height: 295px;
  width: 295px;
  background-color: #f2f2f2;
  padding: 15px 10px 10px 10px;
  border-radius: 10px;
}

.comment__upper {
  display: flex;
  justify-content: space-between;
}

.comment__text {
  border-top: 1px solid #e7e7e7;
  margin-top: 15px;
}

.comment__upper-name {
  display: flex;
  align-items: center;
}

.comment__upper-star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 25px;
  padding: 2px 3px;
  border-radius: 20px;
  background-color: white;
}

.detail__gallery-vedio {
  height: 360px;
  width: 320px;
  margin-top: 30px;
  margin-left: 15px;
}

.detail__gallery {
  display: flex;
  gap: 25px;
}

.detail__vedio .sub-title {
  padding-top: 20px;
}

.detail__vedio li:nth-child(2) {
  padding-top: 10px;
}
