.detail__staffs {
  display: flex;
  flex-direction: column;
  height: 210px;
  flex-wrap: wrap;
  gap: 10px;
}

.detail__staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-left: 10px;
}

.role {
  opacity: 0.5;
  font-weight: bold;
  margin-top: 10px;
}
